.heroImg {
  width: 40rem;
  height: 55rem;
  border-radius: 75px;
  border: 35px solid var(--secondary-color);
  margin-left: 15rem;
}
.heroSection {
  width: 100%;
  display: flex;
  margin: 5rem 5rem;
  padding: 6rem;
  justify-content: space-evenly;
  align-items: center;
}
.heroSectionContent {
  margin-top: 5rem;
}

.heroButton {
  margin-top: 3rem;
  font-size: 1.6rem;
  padding: 1.4rem 3.2rem;
  border-radius: 10px;
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--secondary-color);
  background-color: #1f2833;
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
}
.heroButton:hover {
  font-weight: bold;
  font-size: 2rem;
  border-top: 1px solid var(--secondary-color);
  transform: scale(1.2);
  color: var(--third-color);
}
.heroSectionTitle {
  margin-bottom: 3rem;
  font-size: 2.8rem;
  color: var(--third-color);
}
.heroSectionText {
  margin-bottom: 2rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 6.6rem;
  color: var(--secondary-color);
}
.heroSectionDescription {
  font-size: 2.4rem;
  color: var(--third-color);
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .heroButton {
    margin-bottom: 2rem;
  }
  .heroSection {
    flex-direction: column;
    text-align: center;
  }
  .heroImg {
    width: 40rem;
    height: 55rem;
    border-radius: 75px;
    border: 35px solid var(--secondary-color);
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .heroSection {
    padding: 1rem;
    margin: 0 auto;
    margin-left: 8rem;
  }
  .heroSectionTitle {
    font-size: 4rem;
  }

  .heroButton {
    margin-right: 1.5rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .heroSection {
    margin-left: 13rem;
  }

  .heroSectionTitle {
    font-size: 6rem;
    font-weight: bold;
  }
  .heroSectionText {
    font-size: 4rem;
    line-height: 7rem;
  }
  .heroSectionDescription {
    font-size: 3.5rem;
  }
  .heroButton {
    font-size: 3rem;
    line-height: 4rem;
    padding: 1rem 7rem;
  }
}
