.skillsSection {
  text-align: center;
  padding: 3.5srem;
  margin: 2.5rem;
}

.skillsHeaderTitle {
  font-size: 3.5rem;
  margin-bottom: 3.5rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  margin: 3rem;
  padding: 3rem 3.5srem;
}
.skillsSectionCard {
  width: 100%;
}
/* .cardContent {
  padding: 2rem;
  margin: 1rem;
} */

.skillsSectionCard h3 {
  font-size: 3rem;
  color: var(--secondary-color);
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.skillsSectionCard p {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: var(--third-color);
}

@media (max-width: 992px) {
  .skillsSection {
    width: 100%;
  }
  .skillsHeaderTitle {
    font-size: 4rem;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .skillsHeaderTitle {
    margin-left: 10rem;
  }
  .skillsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
    padding: 2rem 2rem;
  }
  .skillsSectionCard h3 {
    font-size: 3.5rem;
  }

  .skillsSectionCard p {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .skillsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
    padding: 2rem 2rem;
  }

  .skillsHeaderTitle {
    font-size: 4rem;
    margin-left: 16rem;
  }

  .skillsSectionCard p {
    text-align: center;
    font-size: 2rem;
  }
  /* .cardContent {
    background-color: red;
    margin: 0 auto;
  } */
  .cardContent p {
    font-size: 2.3rem;
  }
}
