.navbarSection {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2833;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}
.navbarLogo {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--secondary-color);
  font-size: 5rem;
}
.navbarLinks {
  display: flex;
  margin-right: 10rem;
  list-style-type: none;
  font-size: 2.2rem;
}

.navbarLinks a {
  text-decoration: none;
  color: var(--secondary-color);
  margin: 1rem;
}
.hamburgerMenu {
  display: none;
}
.navbarLinksTwo {
  display: none;
}
@media (max-width: 768px) {
  /* .navbarSection {
    box-shadow: none;
  } */
}
@media (max-width: 576px) {
  .navbarSection {
    box-shadow: none;
    margin-top: 2rem;
  }
  .navbarLinks {
    display: none;
  }
  .hamburgerMenu {
    color: var(--secondary-color);
    position: absolute;
    display: block;
    right: 1rem;
    top: 1rem;
  }

  .navbarLinksTwo {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    font-size: 2.8rem;
    line-height: 5rem;
  }
  .navbarLinksTwo a {
    position: relative;
    text-decoration: none;
    color: var(--secondary-color);
    right: 11rem;
  }
  .link {
    margin-bottom: 2rem;
  }
}
